@import '../../../../assets/styles/abstracts/variables.scss';

.modal-content {
  background-color: $color-white;
}

.error-label {
  color: $color-red;
  font-weight: 500;
  text-align: center;
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 12px; // Ajuste para pantallas pequeñas
  }
}

.invalid {
  color: $color-red;
  font-size: small;

  @media (max-width: 767px) {
    font-size: x-small; // Ajuste para pantallas pequeñas
  }
}

.button-more {
  background-color: transparent;
  border: none;
  text-decoration: underline;

  @media (max-width: 767px) {
    font-size: small; // Ajuste para pantallas pequeñas
  }
}

.button-close {
  background-color: $color-gray;
  color: white;
  width: 275px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%; // Ajuste para pantallas pequeñas
    font-size: small;
  }

  &-plus {
    font-size: 15px;

    @media (max-width: 767px) {
      font-size: 12px; // Ajuste para pantallas pequeñas
    }
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: small;

  @media (max-width: 767px) {
    font-size: x-small; // Ajuste para pantallas pequeñas
    padding: 10px; // Añadir padding para mejorar la apariencia en pantallas pequeñas
  }
}

.container {
  &_checkbox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 767px) {
      flex-direction: column; // Ajuste para pantallas pequeñas
      align-items: center;
    }
  }

  &_text {
    color: black;
    
    @media (max-width: 767px) {
      font-size: small; // Ajuste para pantallas pequeñas
    }
  }

  &_link {
    font-weight: 700;
    color: $color-tab-blue;

    @media (max-width: 767px) {
      font-size: small; // Ajuste para pantallas pequeñas
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    color: $color-blue;

    @media (max-width: 767px) {
      width: 100%; // Ajuste para pantallas pequeñas
      font-size: small;
    }
  }
}

.text-justify {
  text-align: justify;

  @media (max-width: 767px) {
    font-size: small; // Ajuste para pantallas pequeñas
    padding: 10px; // Añadir padding para mejorar la apariencia en pantallas pequeñas
  }
}
