@import '../../../../assets/styles/abstracts/variables.scss';

/* Estilos generales que se mantienen para todas las pantallas mayores de 1360px */
.custom-input {
  font-size: small;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #66798d;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  max-width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
}

.card {
  &-form {
    position: relative;
    width: 30%;
    margin: auto;

    &-banner {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-tab-blue;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      max-width: 450px;

      &-title {
        font-size: x-large;
        color: $color-tab-blue;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 20px;
      }
    }

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;
    }

    &-input {
      display: flex;
      flex-direction: column;

      &-placeholder {
        font-size: x-small;
        margin: 0 0 5px 20px;
        color: $color-black;

        &-invalid {
          color: $color-red;
          font-size: x-small;
          margin: 0 0 5px 20px;
        }
      }

      &-options {
        width: 325px;
        max-width: 325px;
        border-radius: 20px;
        height: 40px;
        font-size: small;
        padding-left: 20px;
      }

      &-select {
        width: 325px;
        max-width: 325px;
        border-radius: 20px;
        height: 40px;
        font-size: small;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &-placeholder {
      margin: 0 0 5px 20px;
      font-size: x-small;
      color: $color-black;
    }

    &-area {
      font-size: x-small;
      width: 100%;
      padding: 0;
    }
  }

  &-buttonUp {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &-placeholder {
      margin: 0 0 5px 20px;
      font-size: x-small;
      color: $color-black;
    }

    &-custom-button {
      display: inline-block;
      position: relative;
    }

    &-custom-icon {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: none;
    }

    &-label {
      display: inline-block;
      padding: 10px 20px;
      background-color: $color-white-smoke;
      border-radius: 5px;
      border: 0.1px $color-davis-gray;
      box-shadow: 2px 2px $color-white-smoke;
      color: $color-dim-gray;
      cursor: pointer;
    }
  }

  &-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    &-header {
      font-family: $font-bold;
      background-color: $color-tab-blue;
      text-align: center;
      margin-bottom: 30px;
      width: 100%;
      color: $color-white;
      font-size: medium;
      padding: 5px 0;
    }

    &-body {
      display: flex;
      flex-direction: row;
      border: 1pt solid $color-tab-blue;
      width: 100%;
      height: 46px;
    }

    &-itemName,
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      border-right: 1pt solid $color-tab-blue;
      width: 100%;
      text-align: left;
      font-family: $font-light;
      margin-left: 20px;
    }
  }
}

.card-table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.truncate-text {
  max-width: 100%;
  width: 364px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  align-items: center;
  margin: auto 0;
}

.container-card_text {
  width: 40rem;
  margin: 0 auto;
}

.card-buttonUp {
  width: 40rem;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center; /* Centrar el botón horizontalmente */
  align-items: center; /* Centrar el botón verticalmente */
  width: 100%;
  height: auto; /* Ajustar la altura automáticamente */
  overflow: hidden; /* Evitar desbordamiento */
}

.container-principal {
  margin-left: 45px;
  margin-right: 45px;
}

.container-card {
  width: 100%;
}

::ng-deep .p-card {
  width: 100%;
}

::ng-deep .p-card .p-card-body {
  padding: 0 !important;
  margin-bottom: 50px;
}

::ng-deep .p-card-body {
  padding: 0 !important;
}

.rows {
  margin-left: 192px;
  margin-right: 192px;
}

::ng-deep .p-dropdown {
  width: 325px !important;
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  padding-left: 20px;
}

::ng-deep .p-dropdown-panel {
  width: auto !important;
  max-width: auto !important; /* Ajusta este valor según sea necesario */
  overflow-x: hidden !important; /* Evita el desplazamiento horizontal */
  max-height: 500px;
  overflow-y: auto;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  margin-top: 3px;
}

/* Media queries para ajustes responsivos */

/* Pantallas entre 1024px y 1360px */
@media (max-width: 1360px) and (min-width: 1024px) {
  .container {
    width: 95%;
  }

  .card-form {
    width: 40%; /* Ajusta según sea necesario */
  }


  .rows {
    margin-left: 192px;
    margin-right: 192px;
  }
}



@media (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .card-form {
    width: 10%; /* Ajusta según sea necesario */
  }


  .rows {
    margin-left: 10%;
    margin-right: 10%;
  }

  .truncate-text {
    max-width: 100%;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    align-items: center;
    margin: auto 0;
  }
}

@media (max-width: 960px) {
  .container {
    width: 95%;
  }

  .container-principal {
    margin-left: 2%;
    margin-right: 2%;
  }

  .card-form {
    width: 80%; /* Ajusta según sea necesario */
  }

  .card-form-input,
  .card-form-select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rows {
    margin-left: 10%;
    margin-right: 10%;
  }

  .truncate-text {
    max-width: 100%;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    align-items: center;
    margin: auto 0;
  }
}

/* Pantallas menores a 768px */
@media (max-width: 900px) and (min-width: 480px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .card-form {
    width: 80%; /* Ajusta según sea necesario */
  }

  .card-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%;
  }

  .card-form-banner {
    width: 100%;
    font-size: large;
  }

  .card-form-input,
  .card-form-select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rows {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.card-form-input-select{
  max-width: 100%;
  width: 100%;
}

/* Pantallas menores a 480px */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .card-form {
    width: 100%; /* Ajusta según sea necesario */
  }

  .card-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-form-banner {
    font-size: medium;
  }

  .card-form-input,
  .card-form-select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .card-form-input-options {
    width: 100%;
    max-width: 100%;
  }

  .rows {
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-buttonUp {
    width: 100%;
  }

  .card-buttonUp-placeholder {
    text-align: left;
  }

  .card-buttonUp-label {
    width: 100%;
    text-align: center;
  }

  .card-table-body {
    width: 100%;
  }

  .card-table-itemName {
    width: 4000px;
    max-width: 100%;
  }

  .truncate-text {
    max-width: 100%;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    align-items: center;
    margin: auto 0;
  }

  .remover-text {
    display: none;
  }


  ::ng-deep .p-dropdown {
    //width: 100%;
    width: 100% !important;
    max-width: 100% !important;
    height: 40px;
  
  
    &:focus {
      border: 0;
    }
  }

  ::ng-deep .p-overlay-content {
    width: 290px;
  }

}

.card-form-input-select{
  max-width: 100%;
  width: 100%;
}

/* Estilos para el modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  overflow: hidden;
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-accept {
  background-color: green;
  color: white;
  border: none;
}

.btn-cancel {
  background-color: red;
  color: white;
  border: none;
}
.ui-dialog .p-progressBar {
  margin-top: 10px;
}

.ui-dialog .p-progressBar > .p-progressbar-value {
  background-color: #4caf50; /* Cambiar color de la barra */
}

.spinner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-indigo, $alpha: 0.6);/* Fondo semi-transparente */
  z-index: 10000;
}

.spinner-text {
  margin-top: 30px; /* Añade un pequeño espacio debajo del spinner */
  color: rgb(255, 255, 255); /* Cambia el color a amarillo */
  font-size: 25px; /* Ajusta el tamaño del texto según necesites */
  text-align: center; /* Centra el texto */
}
