@import '../../../../assets/styles/abstracts/variables.scss';


.ui-dropdown .ui-dropdown-item.ui-state-highlight {
  background-color: #f0f0f0;
  max-height: 500px;
  /* Set your desired background color */
}

.container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  width: 1200px;
  max-width: 1200px;
  padding-left: 0px;
  padding-right: 0px;

  &-select {
    margin-top: 30px;
    margin-left: 65px;
    margin-right: 65px;
    display: flex;
    flex-direction: row;
    //align-items: center; /* Centra los elementos dentro de container-select */
    width: 100px; /* Ajusta el ancho para ser responsivo */

    &-placeholder {
      color: $color-text-black;
      font-family: $font-light;
      font-size: 10px;
      margin: 10px 0 5px 15px;
      border-radius: 20px;
      text-align: left; /* Asegura que el texto dentro del label esté alineado a la izquierda */
      width: 100%; /* Ajusta el ancho para ser responsivo */
      max-width: 330px; /* Ancho máximo */
    }

    &-options {
      width: 100%; /* Ajusta el ancho para ser responsivo */
      max-width: 350px; /* Ancho máximo */
      height: 40px;
      
      .ui-dropdown-label {
        width: calc(100% - 20px); /* Ajusta el ancho del label dentro del dropdown */
        
      }

      .ui-dropdown-trigger {
        right: 10px; /* Ajusta la posición de la flecha */
      }
    }

    &-invalid {
      color: $color-red;
      font-size: small;
      margin-top: 5px;
      margin-left: 15px;
    }
  }

  &-card {
    //margin-top: 40px;
    margin-left: 47px;
    //margin: 0.5% 2%;
    width: 100%; /* Ajusta el ancho para ser responsivo */
    max-width: 400px; /* Ancho máximo */

    &_header {
      text-align: center;
      font-family: $font-bold;
      font-size: 26px;
      padding-top: 2%;
      color: $color-text-black;
    }

    &_textRecomendations {
      font-size: 16px;
      text-align: justify;
      color: $color-text-black;
      font-family: $font-medium;
    }

    &_title {
      font-family: $font-bold;
      color: $color-title-blue;
      font-size: 24px;
    }

    &_text {
      //TIPO DE FUENTE TEXTOS
      font-family: $font-light;
      color: $color-text-black;
      font-size: 16px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .card-form-banner-title {
    font-size: x-large;
    color: $color-tab-blue;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  &-checkbox {
    display: flex;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    align-items: center;

    &_a {
      font-family: $font-light;
      margin: 5px 0 5px 5px;
      font-size: 20px;
      color: $color-text-black;
      text-decoration: none;
    }

    &_link {
      font-family: $font-light;
      text-decoration: underline;
      color: $color-text-black;
      font-size: 20px;
    }
  }

  &-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
}



.centered-box {
  border: 2px solid #d3d3d3;
  width: 751px; /* Ancho del cuadro */
  padding: 10px; /* Espacio interno del cuadro */
  margin: 0 auto; /* Centrar el cuadro horizontalmente */
  margin-top: 30px;
  margin-bottom: 40px;

  .content {
    display: flex;
    align-items: center; /* Alinea la imagen y el texto verticalmente centrados */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 0;
  }

  p {
    margin: 0; /* Quitar el margen del párrafo */
    font-size: 16px;
    color: $color-text-black;
    font-family: $font-medium;
  }

  .small-image {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
  }
}

.container{

  margin-bottom: 50px;

}

/* Ajustar el panel desplegable del dropdown */
::ng-deep .p-dropdown-panel {
  width: auto !important;
  max-width: auto !important; /* Ajusta este valor según sea necesario */
  overflow-x: hidden !important; /* Evita el desplazamiento horizontal */
  max-height: 500px;
  width: auto !important;
  //overflow-y: auto;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  margin-top: 3px;
}

/* Ajustar el estilo de los elementos de la lista */
::ng-deep .p-dropdown-item {
  height: auto !important; /* Ajusta la altura automáticamente */
  line-height: 1.5 !important; /* Aumenta la altura de línea para mayor claridad */
}

::ng-deep .container-select-options .p-dropdown-item.p-highlight {
  font-family: $font-bold;
  border-radius: 5px;
}


.container-content{
  margin-left: 45px;
  margin-right: 45px;
}

.p-card .p-card-body {
  padding: 0 !important;
}

.container-card-select {
  //TIPO DE FUENTE TEXTOS
  font-family: $font-light;
  color: $color-text-black;
  font-size: 16px;
  margin-left: 40px; /* Margen en porcentaje para ser responsivo */
  margin-right: 40px;
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  flex-wrap: wrap;
}

.container-select {
  display: flex;
  gap: 110px; /* Espacio entre los elementos, ajusta según sea necesario */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.container-select-item {
  flex: 1; /* Permite que los elementos hijos crezcan de manera uniforme */
  min-width: 200px; /* Asegura un ancho mínimo para cada elemento */
}

::ng-deep .p-card .p-card-body {
  padding: 0 !important;
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  padding-left: 20px;
}

::ng-deep .p-dropdown {
  //width: 100%;
  width: 395px;
  height: 40px;


  &:focus {
    border: 0;
  }
}



/* Media queries para ajustes responsivos */
@media (max-width: 1360px){
  .container {
    width: 95%;
    //max-width: 100%;
  }

  .container-select {
    //flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .container-card {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container-checkbox {
    margin-left: 10%;
    margin-right: 10%;
  }

  .centered-box {
    width: 70%;
    //padding: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .container-card-select {
    //TIPO DE FUENTE TEXTOS
    font-family: $font-light;
    color: $color-text-black;
    font-size: 16px;
    margin-left: 40px; /* Margen en porcentaje para ser responsivo */
    margin-right: 40px;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    flex-wrap: wrap;
  }

  .container-select {
    //flex-direction: column;
    margin: 20px 0;
    align-items: center;
    gap: 10px;
    width: 100%;

    &-item {
      width: 100%;
      margin-bottom: 15px; /* Espacio entre los items */
      //display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-placeholder {
      //font-size: 14px;
      margin-bottom: 5px; /* Espacio entre el placeholder y el elemento */
      align-self: flex-start; /* Alinea el placeholder a la izquierda del contenedor */
    }

    &-options {
      width: 100%;
      max-width: 100%;
    }
  }

  .container-card {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container-checkbox {
    margin-left: 10%;
    margin-right: 10%;
  }

  .centered-box {
    width: 70%;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
    height: 40px;
  }

  ::ng-deep .p-overlay-content {
    width: 90%;
    max-width: 100%;
  }

  ::ng-deep .p-dropdown-item {
    white-space: normal;
    overflow-wrap: break-word;
  }

  ::ng-deep .p-dropdown-panel {
    overflow-y: auto;
  }

  ::ng-deep .p-dropdown-label, .p-dropdown-item {
    font-size: 0.875rem;
  }
}


@media (max-width: 768px) {
  .container {
    //width: 100%;
    flex-direction: column;
    max-width: 90%;
  }

  .container-content{
    margin-left: 5%;
    margin-right: 5%;
  }



  .container-card-select {
    //TIPO DE FUENTE TEXTOS
    font-family: $font-light;
    color: $color-text-black;
    font-size: 16px;
    margin-left: 5%; /* Margen en porcentaje para ser responsivo */
    margin-right: 5%;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    flex-wrap: wrap;
  }

  .container-select-item {
    flex: 1; /* Permite que los elementos hijos crezcan de manera uniforme */
    max-width: 100%; /* Asegura un ancho mínimo para cada elemento */
  }

  .container-select {
    flex-direction: column;
    margin: 20px 0;
    align-items: center;

    &-item {
      width: 100%;
      //margin-bottom: 15px; /* Espacio entre los items */
    }

    &-placeholder,
    &-options {
      width: 100%;
    }

    &-options {
      max-width: 100%;
    }

  }

  .container-card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    &_header {
      font-size: 20px;
    }

    &_text {
      margin: 0 20px;
      font-size: 16px;;
    }

    &_textRecomendations {
      font-size: 16px;;
    }

    &_title {
      font-size: 18px;
    }
  }
  

  .container-checkbox {
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
  }

  .centered-box {
    width: 70%;
    //padding: 15px;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
    height: 40px;
  
  
    &:focus {
      border: 0;
    }
  }

  ::ng-deep .p-overlay-content {
    width: 90%;
    max-width: 100%;
  }

  ::ng-deep .p-dropdown-item {
    white-space: normal; // Permite que el texto se ajuste y haga salto de línea.
    //max-width: 95%; // Ajusta según lo necesites.
    overflow-wrap: break-word; // Asegura que las palabras largas se ajusten.
  }

  ::ng-deep .p-dropdown-panel {
    //max-height: 200px; /* Limita la altura máxima del panel de dropdown */
    overflow-y: auto; /* Permite el scroll si el contenido excede la altura */
  }

  ::ng-deep .p-dropdown-label, .p-dropdown-item {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    //padding: 8px; /* Ajusta el espaciado interno */
  }
}





/* Ajustes para pantallas de móviles (menos de 480px) */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-content{
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-card-select {
    //TIPO DE FUENTE TEXTOS
    font-family: $font-light;
    color: $color-text-black;
    font-size: 16px;
    margin-left: 5%; /* Margen en porcentaje para ser responsivo */
    margin-right: 5%;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    flex-wrap: wrap;
  }

  .container-select-item {
    flex: 1; /* Permite que los elementos hijos crezcan de manera uniforme */
    max-width: 100%; /* Asegura un ancho mínimo para cada elemento */
  }

  .container-select {
    flex-direction: column;
    margin: 20px 0;
    align-items: center;

    &-item {
      width: 100%;
      //margin-bottom: 15px; /* Espacio entre los items */
    }

    &-placeholder,
    &-options {
      width: 100%;
    }


    &-options {
      max-width: 100%;
    }

  }

  .container-card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    &_header {
      font-size: 20px;
    }

    &_text {
      margin: 0 20px;
      font-size: 14px;
    }

    &_textRecomendations {
      font-size: 14px;
    }

    &_title {
      font-size: 18px;
    }
  }

  .container-checkbox {
    margin: 20px 0;

    &_a,
    &_link {
      font-size: 14px;
    }
  }

  .container-button {
    font-size: 14px;
  }

  .centered-box {
    width: 90%;
    padding: 15px;
  }

  .centered-box p {
    font-size: 12px;
  }

  .centered-box .small-image {
    width: 20px;
    margin-right: 5px;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
    height: 40px;
  
  
    &:focus {
      border: 0;
    }
  }

  ::ng-deep .p-overlay-content {
    width: 290px;
  }

  ::ng-deep .p-dropdown-item {
    white-space: normal; // Permite que el texto se ajuste y haga salto de línea.
    max-width: 70%; // Ajusta según lo necesites.
    overflow-wrap: break-word; // Asegura que las palabras largas se ajusten.
  }

  ::ng-deep .p-dropdown-panel {
    //max-height: 200px; /* Limita la altura máxima del panel de dropdown */
    overflow-y: auto; /* Permite el scroll si el contenido excede la altura */
  }

  ::ng-deep .p-dropdown-label, .p-dropdown-item {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    padding: 8px; /* Ajusta el espaciado interno */
  }

}
