<p-dialog [(visible)]="visible" class="size" [modal]="true">
  <!--<p-dialog [(visible)]="visible" [style]="{ width: '30vw', height: '30vh' }" [modal]="true">-->
  <ng-template pTemplate="headless">
    <div class="modal-content">
      <div class="row">
        <div class="modal-white">
          <img src="../../../assets/images/logo-login.png" class="login-logo" />
          <img src="../../../assets/images/Carga.png" class="login-form-logo-check" />
          <!-- <img src="../../../assets/images/check_button.png" class="login-form-logo-check" /> -->
          <!-- <p-progressSpinner
            class="spinner-modal"
            [style]="{ width: '60px', height: '60px' }"
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            animationDuration="2s" /> -->
        </div>
      </div>

      <div class="modal-blue">
        <div *ngIf="requestCreation">
          <div class="col-12 title" style="font-size: 23pt" [innerHTML]="tittle_message"></div>
          <div class="col-12 subtitle">
            <span class="text">Radicado N°. </span>
            <span class="text">{{ message }}</span>
          </div>
          <div class="col-12 text">
            <span class="text"
              >Revisa el correo electrónico registrado, incluída la bandeja de spam, para que
              verifiques la confirmación.
            </span>
          </div>
          <div class="col-12 text-center">
            <p-button
              type="button"
              [style]="{
                'border-radius': '28pt',
                'background-color': '#f3f3f3',
                color: '#4face9',
                width: '70%',
                'font-size': '16pt'
              }"
              label="Cerrar"
              severity="danger"
              (click)="closeDialog(false)"
              class="button"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
